

/* ==========================================================================
   List of CSS
         1. Global
            a. Layout
            b. Color
            c. Typography
            d. Utilities
         2. Main

   ========================================================================== */



/* ==========================================================================
   01. Global
   ========================================================================== */


/* a. Layout ================== */


html,
body {
    height: 100%;
    font-family: 'Lora', serif;
    font-size: 1.0625rem;
    color: #171f21;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}


/* b. Color ================== */


.dark-blue {
    color: #001f2c;
}

.dark-blue-b {
    background-color: #001f2c !important;
}

.red {
   color: #e75252;
}

.red-b {
    background-color: #e75252;
}

.dark-red {
    color: #8d0d24;
}

.dark-red-b {
    background-color: #8d0d24;
}

.gold {
    color: #a4814e;
}

a.gold:hover {
    color: #967647;
}

.gold-b {
    background-color: #a4814e;
}

.gray-10 {
    color: #f4f4f4;
}

.gray-10-b {
    background-color: #f4f4f4;
}

.gray-90 {
    color: #232728;
}

.gray-90-b {
    background-color: #232728;
}

.black {
    color: #171f21;
}

.black-b {
    background-color: #171f21;
}


/* c. Typography ================== */

.kor {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.8;
}


p.kor {
    font-size: 17px;
}

/* d. Utilities ================== */

.divider {
    width: 25px;
    height: 2px;
    background: #e75252;
    display: inline-block;
    margin: 0.3em 0 0.4em 0;
}

.divider-white {
    width: 25px;
    height: 2px;
    background: #fff;
    display: inline-block;
    margin: 0.3em 0 0.4em 0;
}

.align-items-center {
    align-items: center;
}

.img-hover:hover img {
    filter: opacity(70%);
}

a.img-hover:hover {
    color: #fff;
}


/* ==========================================================================
   02. Main
   ========================================================================== */


/* Cover.css Copy */


.main-header-wrap {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, .3);

}

.main-header-wrap-white {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    color: #232728;
}

.viewport-header {
    position: relative;
    height: 100vh;
    display: flex;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .15rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 0;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.nav-masthead .dropdown-menu,
.nav-masthead-white .dropdown-menu {
    position: static;
    float: none;
}

.nav-masthead-white .nav-link {
    padding: .25rem 0;
    font-weight: 400;
    color: #232728;
    background-color: transparent;
    border-bottom: .15rem solid transparent;
}

.nav-masthead-white .nav-link:hover,
.nav-masthead-white .nav-link:focus {
    border-bottom-color: rgba(0, 0, 0, .35);
}

.nav-masthead-white .nav-link + .nav-link {
    margin-left: 0;
}

.nav-masthead-white .active {
    color: #232728;
    border-bottom-color: #232728;
}

.nav-masthead-white .dropdown-item.active,
.nav-masthead-white .dropdown-item:active,
.nav-masthead .dropdown-item.active,
.nav-masthead .dropdown-item:active {
    background-color: #f4f4f4 !important;
    text-shadow: none !important;
    color: #171f21;
    font-weight: bold;
}

.nav-masthead .dropdown-item {
    text-shadow: none !important;
}


.nav-masthead-white .dropdown-item:hover,
.nav-masthead .dropdown-item:hover {
    background-color: #eeeeee !important;
}

.nav-masthead .nav-link,
.nav-masthead .dropdown,
.nav-masthead .dropdown.show,
.nav-masthead-white .nav-link,
.nav-masthead-white .dropdown,
.nav-masthead-white .dropdown.show,
.dropdown-menu.show {
    width: 100% !important;
}


@media (min-width: 992px) {

    .nav-masthead .nav-link + .nav-link,
    .nav-masthead-white .nav-link + .nav-link {
        margin-left: 1rem;
    }

    .nav-masthead .dropdown-menu,
    .nav-masthead-white .dropdown-menu {
        position: absolute;
    }

    .navbar-expand-lg .navbar-collapse {
        display: inline !important;
    }

    .nav-masthead .nav-link,
    .nav-masthead .dropdown,
    .nav-masthead .dropdown.show,
    .nav-masthead-white .nav-link,
    .nav-masthead-white .dropdown,
    .nav-masthead-white .dropdown.show,
    .dropdown-menu.show {
        width: inherit !important;
    }
}

/* Header Affix */

.affix {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 1s;
}

.affix .nav-link {
    color: #fff !important;
}

.affix .nav-link.active {
    border-bottom-color: #fff !important;
}


@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead,
    .nav-masthead-white {
        float: right;
    }
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 19px;
}

.vertical-text:before {
    content: '';
    width: 1px;
    height: 50px;
    background: #fff;
    display: block;
    position: relative;
    top: -60px;
    left: 33px;

}

.copy-right {
    font-size: 15px;
    color: #ddd;
}



@media (min-width: 1440px) {
    .offset-xxl-3 {
        margin-left: 25%;
    }

    .col-xxl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xxl-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .offset-xxl-4 {
        margin-left: 33.333333%;
    }
}

@media (max-width: 1200px) {
    .main-df-img {
        background: none !important;
    }
}

.main-df-img {
    background: url("../img/main-img-00.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.main-cost-img {
    background: url("../img/main-img-04.jpg");
    background-size: cover;
}

#pro-d {
    display: none;
}

#pro-m {
    display: block;
}

@media (min-width: 992px) {
    #pro-d {
        display: block;
    }

    #pro-m {
        display: none;
    }
}

.about-img {
    background: url("../img/about-img-01.jpg");
    background-size: cover;
}

.about-img-tailor {
    background: url("../img/about-img-03.jpg");
    background-size: cover;
}

.about-img-letter {
    background: url("../img/about-img-04.png");
    background-size: cover;
    background-position: center;
}

@media (max-width: 767px) {

    .about-img {
        display: none;
    }
}


.light-box .col-md-4 {
    padding: 5px;
}

.light-box .col-md-4 a {
    vertical-align: middle;
    width: 100%;
}

.light-box .col-md-4 a img {
    margin-top: 10px;
}

.ekko-lightbox-nav-overlay a {
    color: #fff;
}

.ekko-lightbox .modal-body {
    padding: 0;
}
